@using WebFormsIntroduction.MVCClient.Models
@model CalculatorViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC Calculator</h1>
</div>

<div class="jumbotron">
    <section id="loginForm">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <div class="form-group">
                @Html.TextBoxFor(m => m.ValueA, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ValueA, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.ValueB, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ValueB, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                <strong>Result: @Model.Result</strong>

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Sum" class="btn btn-success" />
                </div>
            </div>
        }
    </section>

</div>