@{
    ViewBag.Title = "Home Page";
}

@using Essentials.Web.Models
@model HomeViewModel


@using (Html.BeginForm())
{
    <div class="well">
        <div class="row">
            <div class="well">
                @Html.LabelFor(m => m.Quantity)
                @Html.TextBoxFor(m => m.Quantity, new { Class = "form-control" })
            </div>
            <div class="well">
                @Html.LabelFor(m => m.UnitType)
                @Html.EnumDropDownListFor(m => m.UnitType, new { Class = "form-control" })
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                @Html.LabelFor(m => m.BitCalculatorResultsContainer.Bytes)
                @Html.DisplayFor(m => m.BitCalculatorResultsContainer.Bytes)
            </li>
            <li class="list-group-item">
                @Html.LabelFor(m => m.BitCalculatorResultsContainer.KiloBytes)
                @Html.DisplayFor(m => m.BitCalculatorResultsContainer.KiloBytes)
            </li>
            <li class="list-group-item">
                @Html.LabelFor(m => m.BitCalculatorResultsContainer.MegaBytes)
                @Html.DisplayFor(m => m.BitCalculatorResultsContainer.MegaBytes)
            </li>
            <li class="list-group-item">
                @Html.LabelFor(m => m.BitCalculatorResultsContainer.GigaBytes)
                @Html.DisplayFor(m => m.BitCalculatorResultsContainer.GigaBytes)
            </li>
            <li class="list-group-item">
                @Html.LabelFor(m => m.BitCalculatorResultsContainer.TeraBytes)
                @Html.DisplayFor(m => m.BitCalculatorResultsContainer.TeraBytes)
            </li>
            <li class="list-group-item">
                @Html.LabelFor(m => m.BitCalculatorResultsContainer.PetaBytes)
                @Html.DisplayFor(m => m.BitCalculatorResultsContainer.PetaBytes)
            </li>
            <li class="list-group-item">
                @Html.LabelFor(m => m.BitCalculatorResultsContainer.ExaBytes)
                @Html.DisplayFor(m => m.BitCalculatorResultsContainer.ExaBytes)
            </li>
            <li class="list-group-item">
                @Html.LabelFor(m => m.BitCalculatorResultsContainer.ZettaBytes)
                @Html.DisplayFor(m => m.BitCalculatorResultsContainer.ZettaBytes)
            </li>
            <li class="list-group-item">
                @Html.LabelFor(m => m.BitCalculatorResultsContainer.YottaBytes)
                @Html.DisplayFor(m => m.BitCalculatorResultsContainer.YottaBytes)
            </li>
        </ul>
    </div>
}